@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;800&display=swap');

:root {
    --transition: all 300ms ease-in-out;
    --dark-color: #02040F;
    --light-color: #fff;
    --green: #4CA1AF;
    --prussian-blue: #002642;
    --light-gray: #e5e5e5;
    --middle-gray: #d5d5d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-extrabold {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--green);
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--prussian-blue);
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 3rem;
    line-height: 1.3rem;
    position: relative;
}

.title h1::after {
    content: '';
    position: inherit;
    display: block;
    top: 10px;
    width: 70px;
    height: 3px;
    background-color:var(--dark-color);
}

.lead {
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8;
    color: var(--prussian-blue);
}

.container { 
    max-width: 1600px;
    min-height: 100vh;
    padding: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq {
    background: var(--light-color);
    border-radius: 0.5rem;
    padding: 5rem;
    max-width:100%;
}

.faq-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.faq-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.faq-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a-subtitle-faq {
    color: var(--primary-green);
    font-weight: 700;
    margin-bottom: 1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: var(--transition);
}

.a-subtitle-faq:hover {
    opacity: 0.6;
}

.faq-content {
    border: none;
    margin: 1rem 0;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid var(--middle-gray);
    transition: var(--transition);
}

.faq-item {
    margin-bottom: 1rem;
    transition: var(--transition);
}

.faq-item.active {
    border: 1px solid var(--middle-gray);
    border-radius: .25rem;
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.1);
    transition: var(--transition);
}

.accordion {
    color: var(--prussian-blue);
    opacity: 0.8;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 2rem 4.5rem;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-weight: 400;
    transition: var(--transition);
    border-radius: .5rem;
}

.accordion i {
    font-size: 1.6rem;
    border: 1px solid var(--middle-gray-2);
    padding: 1rem;
    border-radius: 50%;
    color: var(--prussian-blue);
    background-color: var(--green);
    transition: var(--transition);
}

.active, .accordion:hover {
    color: var(--green);
}

.accordion i:hover, 
.accordion.active i{
    color: var(--light-color)
}

.painel {
    padding: 0 2.5rem;
    background: var(--light-color);
    padding: 0 2rem 3.5rem 4.5rem;
    overflow: hidden;
    display: none;
    transition: var(--transition);
}
